.navbar {
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}
.navbar ul{
display: flex;
background-color: cadetblue;
width: 60%;
}
.navbar ul li{
    padding: 0 10px;
    list-style: none;
    text-transform: capitalize;
}
